<body style="margin:0; padding:0;">
<table style="background-color:#ffffff" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody>
		<tr style="border-collapse:collapse;">
			<td style="border-collapse:collapse;" align="center">
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20"></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20">
							<div style="font-family:arial,sans-serif; color:#61a6f3; font-size:20px; font-weight:bold; line-height:28px;">
								Thank you for subscribing</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20"></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td align="left">

								<div style="font-family:arial,sans-serif; font-size:14px; margin:0; line-height:24px; color:#555555;">
									<br>
									You have just subscribed to the newsletter of {site_domain}.<br>
									<br>
									If at any time you wish to stop receiving our emails, you can <a href="[UNSUBSCRIBE]" title="Unsubscribe from the newsletter">unsubscribe here</a>.<br>
									<br>
									-Pakat</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20">
								 </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
